.prmbr_main {
	position: absolute;
	z-index: 9999;
	min-height: 0;
	padding: 10px;
	word-wrap: break-word;
}
.prmbr_main img {
	max-width: 100%;
}
/* The block is located at the top and there is an admin panel */
body.logged-in .prmbr_main {
	margin-top: 32px;
}
@media screen and (max-width: 782px) {
	body.logged-in .prmbr_main {
		margin-top: 46px;
	}
}
/*position when js is absent */
.prmbr_no_js {
	position: fixed!important;
}