/* for PromoBar Settings page */
.prmbr_position_column {
	display: block;
}
.prmbr_position_column .prmbr_position_cell label {
	display: block;
}
.prmbr_emerging_options {
	display: inline-block;
}
.prmbr_position_cell select {
	margin: 0 1px 3px 1px;
}
/*input for width */
.prmbr_width_disabled {
	cursor: default;
	display: none;
}
@media screen and ( min-width: 1100px ) {
	.prmbr_position_column {
		display: inline-block;
		vertical-align: top;
		width: 33%;
	}
}
@media screen and (max-width: 782px) {
	.prmbr_position_column .prmbr_position_cell select {
		display: inline-block;
		width: 60px;
	}
	.prmbr_position_cell select {
		margin: 0 1px 4px 1px;
	}
}